doctype html
html(lang='es-ES', prefix='og: http://ogp.me/ns#')
  head
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5FH62NZ');
    // End Google Tag Manager
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Tigo UNE &#8211; Triple Play HogarHOME Julio-Agosto - Tigo UNE - Triple Play Hogar
    meta(name='generator', content='CD 4.9.3')
    meta(name='description', content='➤ Triple play hogar. Encuentra los mejores ✅ precios en planes y paquetes de Tigo UNE: Televisión, Internet hogar y telefonía  (✓ Web recomendada)')
    link(rel='pingback', href='https://tiendainternet.com.co/xmlrpc.php')
    link(href='https://fonts.googleapis.com/css?family=Orbitron|Wallpoet', rel='stylesheet')
    // OJO ESTE ES EL  wp-head QUEMADO
    link(rel='dns-prefetch', href='//s.w.org')
    script(type='text/javascript', async='', src='https://www.google-analytics.com/analytics.js')
    script(type='text/javascript').
      window._wpemojiSettings = {"baseUrl":"https:\\/\/s.w.org\/images\/core\/emoji\/2.4\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.4\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/tiendainternet.com.co\/wp-includes\/js\/wp-emoji-release.min.js"}};
      !function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55357,56692,8205,9792,65039],[55357,56692,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
    script(src='https://tiendainternet.com.co/wp-includes/js/wp-emoji-release.min.js', type='text/javascript', defer='')
    style(type='text/css').
      img.wp-smiley,
      img.emoji {
      display: inline !important;
      border: none !important;
      box-shadow: none !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0 .07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
      }
    link#main_style-css(rel='stylesheet', href='/stylesheets/tigo.css', type='text/css', media='all')
    link#contact-form-7-css(rel='stylesheet', href='/stylesheets/tigo.css', type='text/css', media='all')
    link(rel='canonical', href='https://tiendainternet.com.co/')
    // FIN DE  wp-head QUEMADO
    //
      styles
      <link rel="stylesheet" href='//tiendainternet.com.co/wp-content/themes/tigoune/style.css' type="text/css">
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-104753328-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-104753328-1');
    // Hotjar Tracking Code for tiendainternet.com.co
    script.
      (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:932239,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    // Begin Inspectlet Asynchronous Code
    script(type='text/javascript').
      (function() {
      window.__insp = window.__insp || [];
      __insp.push(['wid', 1885556903]);
      var ldinsp = function(){
      if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=1885556903&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
      setTimeout(ldinsp, 0);
      })();
    // End Inspectlet Asynchronous Code
    //
      se usa ACF para el background
      <body style="background-image:url('');">
    body
      // Google Tag Manager (noscript)
      noscript
        iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-5FH62NZ', height='0', width='0', style='display:none;visibility:hidden')
      // End Google Tag Manager (noscript)
      // PIXEL CODE Retargeting
      script(language='JavaScript1.1', async='', src='//pixel.mathtag.com/event/js?mt_id=1329020&mt_adid=211171&mt_exem=&mt_excl=&v1=&v2=&v3=&s1=&s2=&s3=')
      // PIXELCODE
      #ttdUniversalPixelTag7b2e7f81b7b34d5bb02b48552b86ab9b(style='display:none')
        script(src='https://js.adsrvr.org/up_loader.1.1.0.js', type='text/javascript')
        script(type='text/javascript').
          (function(global) {
          if (typeof TTDUniversalPixelApi === 'function') {
          var universalPixelApi = new TTDUniversalPixelApi();
          universalPixelApi.init("dg6f66s", ["6v3fsar"], "https://insight.adsrvr.org/track/up", "ttdUniversalPixelTag7b2e7f81b7b34d5bb02b48552b86ab9b");
          }
          })(this);
      // /PIXELCODE
      header.main_header.june
        section.container
          article.main_header--links
            a
              img(style=' ', src='images/text_digital_inspire.png ', alt='')
    
            a Distribuidor oficial
            a.tigologo
              img(src='/images/logo_tigo.png', alt='')
          article.main_header--oferta
            a
              img(src='/images/logo_oferta.png', alt='')
      .hidden-sm.hidden-md.hidden-lg
        article.box_border.box_border--informativa.boxtopcallme(style='width: 100%; z-index: 999; top: 0;')
          div
            p Llámanos gratis
            p.icon_textPhone
              a(href='tel:018000415150') 018000415150
          div
            p(style='text-align: center;')
              | Bogotá
            p
              a(href='tel:0314430675') 4430675
      #ofertaexclusiva.netflixLanding(style='background-image: url(/images/fondo_tigo_navidad.jpg);')
        .bgmobile(style='background-image: url(/images/fondo_tigo_movil_navidad.jpg);')
        article.landingUp.june
          .container
            section.landingUp__left
              #TriplePlay
                img.hidden-sm.hidden-md.hidden-lg(src='/images/adelantamos_navidad.png')
                img.hidden-xs(src='/images/adelantamos_navidad.png')
              div
              .mt10.transpbox
                .theclock.boxplandos
                  script.
                    // Set the date we're counting down to
                    var countDownDate = new Date("dec 15, 2018 20:00:00").getTime();
                    // Update the count down every 1 second
                    var x = setInterval(function() {
                    // Get todays date and time
                    var now = new Date().getTime();
                    // Find the distance between now an the count down date
                    var distance = countDownDate - now;
                    // Time calculations for days, hours, minutes and seconds
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                    // Output the result in an element with id="demo"
                    document.getElementById("cdown").innerHTML = "<div class='clockspace'><div class='text'>DÍAS</div><div class='boxdate donuto' style='animation-delay: -"+ days +"s'><p>"+ days + "</p></div></div><div class='clockspace'><div class='text'>HORAS</div><div class='boxdate donuto' style='animation-delay: -"+ hours +"s'><p>" + hours + "</p></div></div><div class='clockspace'><div class='text'>MINUTOS</div><div class='boxdate donuto' style='animation-delay: -"+ minutes +"s'><p>"+ minutes + "</p></div></div> <!--" + seconds + "s -->";
                    document.getElementById("cdownmovil").innerHTML = "<div class='clockspace'><div class='text'>DÍAS</div><div class='boxdate donuto' style='animation-delay: -"+ days +"s'><p>"+ days + "</p></div></div><div class='clockspace'><div class='text'>HORAS</div><div class='boxdate donuto' style='animation-delay: -"+ hours +"s'><p>" + hours + "</p></div></div><div class='clockspace'><div class='text'>MINUTOS</div><div class='boxdate donuto' style='animation-delay: -"+ minutes +"s''><p>"+ minutes + "</p></div></div> <!--" + seconds + "s -->";
                    // If the count down is over, write some text
                    if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("cdown").innerHTML = "EXPIRED";
                    document.getElementById("cdownmovil").innerHTML = "EXPIRED";
                    }
                    }, 1000);
                  style.
                    .theclock{
                    padding:15px !important;
                    }
                    .clockspace{
                    position:relative;
                    overflow: inherit !important;
                    margin: 0 0 45px 0 !important;
                    }
                    .donuto {
                    width: 50px !important;
                    height: 50px !important;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    position: absolute;
                    background: #f7d204 linear-gradient(to right, #f7d204 50%, #0af 50%) !important;
                    color: #0af;
                    border-radius: 50%;
                    }
                    .donuto p{
                    position:relative;
                    z-index:99;
                    color: #fff;
                    font-weight: bold;
                    padding-top: 12px;
                    }
                    @-webkit-keyframes spin {
                    to {
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                    }
                    }
                    @keyframes spin {
                    to {
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                    }
                    }
                    @-webkit-keyframes background {
                    50% {
                    background-color: currentColor;
                    }
                    }
                    @keyframes background {
                    50% {
                    background-color: currentColor;
                    }
                    }
                    .donuto::after {
                    content: '';
                    position: absolute;
                    width: 80%;
                    height: 80%;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    background: #545b7a;
                    border-radius: 50%;
                    }
                    .donuto::before {
                    content: '';
                    position: absolute;
                    display: block;
                    background-color: inherit;
                    height: 100%;
                    width: 50%;
                    bottom: 0;
                    right: 0;
                    border-radius: 0 100% 100% 0 / 50%;
                    -webkit-transform: rotate(0);
                    transform: rotate(0);
                    -webkit-transform-origin: 0 50%;
                    transform-origin: 0 50%;
                    -webkit-animation: 50s spin infinite linear, 100s background infinite step-end;
                    animation: 50s spin infinite linear, 100s background infinite step-end;
                    -webkit-animation-play-state: paused;
                    animation-play-state: paused;
                    -webkit-animation-delay: inherit;
                    animation-delay: inherit;
                    }
                .sideclock(style='width:100%!important;')
                  img(src='/images/OfertaPpal.png', alt='')

                .theclockmovil.hidden-sm.hidden-md.hidden-lg.boxplandos
                  p.textmovilcdown Oferta válida por:
                  #cdownmovil
                .theclockmovil.hidden-xs.boxplandos
                  p.textmovilcdown Oferta válida por:
                  #cdown
              .ta-c-movil
                .ofertabox
                  .imagespace.hidden-xs.boxplandos
                    img(src='/images/banderin-1.png')
                  .textosspace
                    .thetexts
                      p
                        | DISFRUTA 
                        span(style='color: #f7d204;') EL DOBLE
                        br
                        | DE VELOCIDAD TOTAL
                    
                    img.theimg.hidden-sm.hidden-md.hidden-lg(src='/images/banderin-1.png')
                br
            
              .boxCaracteristicasPlanes
                // Caja_plan ↓↓
                .boxCaracteristicasPlanes__plan.boxplandos
                  .boxCaracteristicasPlanes__plan--img
                    img(src='', alt='')
                  div
                // Caja_plan ↓↓
                .boxCaracteristicasPlanes__plan.boxplandos
                  .boxCaracteristicasPlanes__plan--img
                    img(src='', alt='')
                  div
                // Caja_plan ↓↓
                .boxCaracteristicasPlanes__plan.boxplandos
                  .boxCaracteristicasPlanes__plan--img
                    img(src='', alt='')
                  div
            section.landingUp__right
              .landingUp__right--container
                p.font_blanco.font_shadow(style='font-size: 20px;  text-align: center; font-weight: bold;    text-transform: uppercase;    margin-bottom: 15px;margin-top: -15px;')
                  | Línea exclusiva de ventas
                article.box_border.font_blanco.box_border--informativa.darkbluebox
                  .font_shadow
                    p
                      | Llámanos gratis
                    p.icon_textPhone
                      a(href='tel:018000415150') 018000415150
                  .font_shadow
                    p(style='text-align: center;')
                      | Bogotá
                    p
                      a(href='tel:0314430675') 4430675
                article.boxContacto.boxContacto--azul
                  // test box
                  // adquirir id
                  // 121 = gracias
                  // columna
                  #columna
                    header.boxContacto__header
                      h3 ¿PREFIERES QUE TE LLAMEMOS?
                    // tellamamos
                    #tellamamos.caja.tellamamos-msg
                      form#form-llamar
                        .boxContacto__content
                          p.ta-c Ingresa tu número de teléfono
                          .radioContainer.radioContainer__x2
                            .linea
                              .radioBox
                                input#radio-tipo-telefono-fijo(type='radio', name='tipo-telefono', onchange='javascript:showTelefono()', checked='')
                                label(for='radio-tipo-telefono-fijo') Teléfono Fijo
                              .radioBox
                                input#radio-tipo-telefono-celular(type='radio', name='tipo-telefono', onchange='javascript:showTelefono()')
                                label(for='radio-tipo-telefono-celular') Celular
                          .inputspace
                            // Selector con departamentos
                            #telefono-fijo
                              select#select-dep.select-dep(required='', data-required-message='Seleccione una opción')
                                option(value='') Departamento
                                option(value='1') Bogotá
                                option(value='8') Amazonas
                                option(value='4') Antioquia
                                option(value='7') Arauca
                                option(value='5') Atlántico
                                option(value='5') Bolívar
                                option(value='8') Boyacá
                                option(value='6') Caldas
                                option(value='8') Caquetá
                                option(value='8') Casanare
                                option(value='2') Cauca
                                option(value='5') Cesar
                                option(value='4') Choco
                                option(value='4') Córdoba
                                option(value='1') Cundinamarca
                                option(value='8') Guainía
                                option(value='5') Guajira
                                option(value='8') Guaviare
                                option(value='8') Huila
                                option(value='5') Magdalena
                                option(value='8') Meta
                                option(value='2') Nariño
                                option(value='7') Nor Santander
                                option(value='8') Putumayo
                                option(value='6') Quindío
                            input#telefonoLlamar.telefono(type='number', placeholder='Teléfono', pattern='^([0-9]{7})$', required='', data-required-message='El teléfono es requerido.')
                            .ta-c.mt10
                              #acepto
                                p.checkTerminos
                                  input#aceptaTerm(type='checkbox', required='', data-required-message='Campo requerido.')
                                  span.autorizo
                                    | Acepto 
                                    a(onclick="openModal('.modal--terminosl')") 
                                    | términos y condiciones
                                br    
                          .ta-c.mt20
                            input#btnsubmit.boton.btn(type='submit', value='TE LLAMAMOS')
                    // cerro tellamamos
                    // columna
                    // end box
                article.box_border.font_blanco.box_border--informativa.box_border--bgtranparente.box_border--red-aprovecha.ta-c.hidden-xs
                  .font_shadow
                    p
                      | ¡Aprovecha ya esta 
                      br
                      | OFERTA EXCLUSIVA!
                article.box_border.font_blanco.box_border--informativa.box_border--red-aprovecha.ta-c.darkbluebox.hidden-sm.hidden-md.hidden-lg
                  .font_shadow
                    p
                      | ¡Aprovecha ya esta 
                      br
                      | OFERTA EXCLUSIVA!
        article#PlanesHogar.landingUp.june.landingUp__regular
          .container
            section.landingUp__left(style='max-width: 618px;')
              .mt10.ta-c-movil
                #planes
                h2.titulo_1.mt10.ta-c-movil.secondtitle
                  strong Celebra con el mejor plan para tu hogar
              .containerPlanes.containerPlanes--2Columnas.tosept.images
                // Columna
                section.boxPlan.boxPlan__gold
                  header.boxPlan__header
                    h3 TRIPLE ESENCIAL
                  .boxPlan__info
                    h4.mb20(style='text-align: center;') CON MÁS VELOCIDAD DE NAVEGACIÓN:
                    ul.mt10
                      li  Con 156 canales: 17 canales en HD + 89 canales en SD + 50 canales de audio
                      li  Velocidad final de conexión de 10 Megas
                      li  2 decodificadores HD
                  // Precio
                  .boxPlan__containerPrecios
                    .boxPlan__containerPrecios--precio.boxplandos
                      p Llévalo ya
                      p DESDE
                      h4 $104.039
                      p
                        | Tarifa referencia E1 y E2
                        br
                        | Aplica para Antioquia,
                        br
                        | Caldas y Risaralda.
                        br
                        | Tarifas con IVA incluido
                  .endcompra.boxplandos
                    p COMPRAR AHORA
                // Columna
                section.boxPlan.boxPlan__silver
                  header.boxPlan__header
                    h3 TRIPLE PLAY ESENCIAL PLUS
                  .boxPlan__info
                    h4.mb20(style='text-align: center;') CON MÁS VELOCIDAD DE NAVEGACIÓN:
                    ul
                      li  Con 200 canales: 25 canales en HD + 125 canales en SD + 50 canales de audio
                      li  Velocidad final de conexión de 20 Megas
                      li  2 decodificadores HD
                  // Precio
                  .boxPlan__containerPrecios
                    .boxPlan__containerPrecios--precio.boxplandos
                      p Llévalo ya
                      p DESDE
                      h4 $133.765*
                      p
                        | Tarifa de referencia para Estratos del 1 al 4
                        br
                        | Aplica para resto del país
                        br
                        | (Incluye Chinchiná)
                        br
                        | Tarifas con IVA incluido
                  .endcompra.boxplandos
                    p COMPRAR AHORA
                // Columna
                section.boxPlan.boxPlan__gold.hidden
                  header.boxPlan__header
                    h3 ONE
                  .boxPlan__info
                    .ta-c.mb10
                    ul
                      li
                        | Telefonía ilimitada.
                      li
                        | Televisión One.
                      li
                        | Banda ancha 10 Megas.
                  // Precio
                  .boxPlan__containerPrecios
                    .boxPlan__containerPrecios--precio
                      p Estrato 1 y 2
                      p DESDE
                      h4 N/A
                  // Precio
                  .boxPlan__containerPrecios
                    .boxPlan__containerPrecios--precio
                      p Estrato 3
                      p DESDE
                      h4 $135.000
                  // Precio
                  .boxPlan__containerPrecios
                    .boxPlan__containerPrecios--precio
                      p Estrato 4
                      p DESDE
                      h4 $135.000
                  // Precio
                  .boxPlan__containerPrecios
                    p Estrato 5 y 6
                    p DESDE
                    h4 $155.000
              .checkTerminos.ta-c.font_azul.terminos-terms
                a(onclick="openModal('.modal--terminosb')") Ver términos y condiciones
          .boxCaracteristicasPlanes.boxCaracteristicasPlanes__x2.hidden
            // Caja_plan ↓↓
            .boxCaracteristicasPlanes__plan
              .boxCaracteristicasPlanes__plan--img
                // <img src="https://tiendainternet.com.co/wp-content/themes/tigoune/img/icon-50mb.png" alt="">
              p.boxCaracteristicasPlanes__plan--description.font_negro
                | Internet hasta 50 Megas
            // Caja_plan ↓↓
            .boxCaracteristicasPlanes__plan
              .boxCaracteristicasPlanes__plan--img
                // <img src="https://tiendainternet.com.co/wp-content/themes/tigoune/img/icon-tvHD.png" alt="">
              p.boxCaracteristicasPlanes__plan--description.font_negro
                | Televisión con más canales HD
            // Caja_plan ↓↓
            .boxCaracteristicasPlanes__plan
              .boxCaracteristicasPlanes__plan--img
                // <img src="https://tiendainternet.com.co/wp-content/themes/tigoune/img/icon-audio.png" alt="">
              p.boxCaracteristicasPlanes__plan--description.font_negro
                | 50 canales de audio
      article.landingEstratos
        .container
          article.detalleEstratos
            // Nueva Caja ↓↓
            section.detalleEstratos__estrato
              p.detalleEstratos__estrato--txt Estrato 1 y 2
              p.detalleEstratos__estrato--desde
                | DESDE
              h4.detalleEstratos__estrato--precio
                | $105.000
            // Nueva Caja ↓↓
            section.detalleEstratos__estrato
              p.detalleEstratos__estrato--txt Estrato 3
              p.detalleEstratos__estrato--desde
                | DESDE
              h4.detalleEstratos__estrato--precio
                | $105.000
            // Nueva Caja ↓↓
            section.detalleEstratos__estrato
              p.detalleEstratos__estrato--txt Estrato 4
              p.detalleEstratos__estrato--desde
                | DESDE
              h4.detalleEstratos__estrato--precio
                | $105.000
            // Nueva Caja ↓↓
            section.detalleEstratos__estrato
              p.detalleEstratos__estrato--txt Estrato 5 y 6
              p.detalleEstratos__estrato--desde
                | DESDE
              h4.detalleEstratos__estrato--precio
                | $145.000
      article.landingPlanes.hidden
        .container
          .mt40.ta-c
            h2.titulo_2
              | Conoce nuestros planes
      .modal.modal--terminos
        .modal--close(onclick='closeModal()') x
        .modal--content
          h4.font_azul
            strong TÉRMINOS Y CONDICIONES
          .mt20
            p TÉRMINOS Y CONDICIONES DE UTILIZACIÓN DE LA LANDING PAGE TIENDAINTERNET.COM.CO
            p TRATAMIENTO Y PROTECCIÓN DE DATOS DE CARÁCTER PERSONAL
            p
              | En virtud de la entrada en vigencia de la Ley Estatutaria 1581 del 2012 mediante la cual se dictan las disposiciones generales para la protección de datos personales, y sus Decretos Reglamentarios 1377 de 2013, y Decreto 886 de 2014, Digital Inspire, considerado como responsable y/o encargado del tratamiento de sus datos personales, mediante el acceso y uso por parte de los usuarios (el “Usuario” o “Usuarios”) de la landing page www.tiendainternet.com.co de propiedad de Digital Inspire (en adelante, “La Empresa”), requerimos su autorización para continuar con el tratamiento de sus datos personales almacenados en nuestras bases de datos, las cuales incluyen información que ustedes nos han reportado en desarrollo de las diferentes actividades realizadas por nuestra compañía, en particular los siguientes: nombres, número de documento de identificación, dirección, teléfono fijo y móvil, direcciones, correo electrónico, profesión.
            p Finalidad: Los datos serán utilizados para:
            p
              | Los datos de carácter personal que el Usuario ingrese en la Landing Page www.tiendainternet.com.co son directamente recogidos, tratados, administrados y controlados por La Empresa, y por tanto la recolección, tratamiento, administración y protección de dichos datos se rige por las leyes de Colombia y las políticas de privacidad y protección de datos establecidas por La Empresa de conformidad con dichas leyes.
            p
              | El cumplimiento de obligaciones legales o contractuales contraídas con usted y la Empresa – Informar sobre nuestros productos y/o servicios y los cambios en los mismos – Adelantar procesos de evaluación sobre la calidad de nuestros productos y servicios – Proveer productos y servicios. – Información comercial, publicitaria o promocional sobre los productos y/o servicios, eventos y/o promociones de tipo comercial o no de estas, con el fin de impulsar, invitar, dirigir, ejecutar, informar de manera general.
            p
              | La información y datos personales suministrados a Digital Inspire, no serán compartidos  a través de diferentes medios tales como correo físico, electrónico, celular o dispositivo móvil, vía mensajes de texto (1\1 S y/o MMS), o a través de cualquier medio análogo y/o digital de comunicación, conocido o por conocer. La información es de uso exclusivamente interno de Digital Inspire y por ninguna razón será compartida con ninguna persona natural o jurídica, se mantendrá la confidencialidad y reserva de todos los datos suministrados por ustedes.
            p
              | Derechos: Los derechos que le asisten a nuestros Usuarios de sus datos personales son:
            p
              | Conocer, actualizar y solicitar la rectificación o supresión de datos suministrados por el usuario en la Landing Page www.tiendainternet.com.co; conocer el uso que hace Digital Inspire de sus datos personales y revocar en cualquier momento la autorización de la inclusión de sus datos personales en las bases de datos de Digital Inspire. Digital Inspire no recolecta ni maneja información sobre datos sensibles. En el evento de llegar a solicitar información sobre este tipo de datos, se deja constancia que esta será ingresada por el mismo usuario en nuestro correo.
            p
              | Los Titulares podrán ejercer sus derechos de conocer, actualizar, rectificar y suprimir sus datos personales enviando su solicitud, en el momento que gusten y se eliminara toda información.
            p Autorización:
            p
              | Al aceptar la presente autorización usted reconoce y acepta que los datos personales proveídos cada vez que ingrese a la Landing Page www.tiendainternet.com.co, podrán llegar a usar con fines de promociones comerciales o publicitaros sobre los productos, bienes y/o servicios de La Empresa y / o un tercero que de manera previa y expresa han autorizado a ésta.
            p DERECHOS DE PROPIEDAD INTELECTUAL
            p
              | Las marcas, avisos, nombres comerciales, propaganda comercial, dibujos, diseños, logotipos, textos, etc., que aparecen en esta Landing Page www.tiendainternet.com.co, son de exclusiva propiedad de La Empresa, o de terceros que de manera previa y expresa han autorizado a ésta para su uso. Queda prohibido cualquier uso o explotación por cualquier medio, sin el consentimiento previo y por escrito de La Empresa, de cualquier contenido incluido en la Landing Page. El diseño y contenido de la Landing Page www.tiendainternet.com.co se encuentra protegido de conformidad con lo establecido por las normas nacionales e nacionales e internacionales de protección de la Propiedad Industrial y del Derecho de Autor, quedando prohibido: modificar, copiar, distribuir, transmitir, desplegar, publicar, editar, vender, o de cualquier forma explotar el diseño y contenido de la Landing Page www.tiendainternet.com.co
            p EXCLUSION DE GARANTIAS Y DE DISPONIBILIDAD
            p
              | La Empresa no garantiza la disponibilidad y continuidad del funcionamiento de la Landing Page www.tiendainternet.com.co y de los Servicios en ella prestados pues el mismo está en continua actualización, y en consecuencia no garantiza que dicha página operará de manera permanente y libre de fallas, la Empresa no será responsable de posibles daños o perjuicios que se puedan derivar de interferencias, omisiones, interrupciones, virus informáticos o desconexiones de la Landing Page www.tiendainternet.com.co por cualquier causa, incluidas causas ajenas a La Empresa. El Usuario asumirá toda la responsabilidad por la interpretación y el uso de la información contenida en la Landing Page www.tiendainternet.com.co
            p REGISTROS E INSCRIPCIONES
            p
              | El acceso a la Landing Page www.tiendainternet.com.co, no está sujeto a un registro o suscripción previa por parte del Usuario.
            p VIOLACION DE TERMINOS Y CONDICIONES
            p
              | La Empresa podrá llevar a cabo todas las acciones legales que sean necesarias para remediar cualquier violación a los presentes Términos y Condiciones de uso de la Landing Page www.tiendainternet.com.co, incluso el de restringir el acceso a este sitio a determinados Usuarios.
      .modal--background(onclick='closeModal()')
      .modal.modal--terminosb
        .modal--close(onclick='closeModal()') x
        .modal--content
          h4.font_azul
            strong TÉRMINOS Y CONDICIONES
          .mt20
            p(style='text-align: left;') Te´rminos y Condiciones
            p OFERTA ESPECIAL CANALES DIGITALES
            .column Vicepresidencia Hogares
            div Código documento A2018-11-0001
            div Fecha publicacio´n: 01/11/2018
            div
            p(style='text-align: left;') Términos y Condiciones Oferta Especial Triple Play Esencial y Esencial Plus Home
            p Para el Canal DIGITAL
            ul
              li UNE EPM Telecomunicaciones S.A. cobertura HFC nacional
              li
                | Aplica para la Filial EDATEL en Monteria, Cerete, Valledupar y Sincelejo sobre tecnologia HFC
              li Tiple Play: Internet, Telefonía local ilimitada y Televisión
              li
                | Tríple Play Esencial 5 Megas con descuento y más velocidad (Telefonía Local Ilimitada, Televisión, Internet)
              li
                | Tríple Play Esencial Plus 10 Megas con descuento y más velocidad (Telefonía Local Ilimitada, Televisión, Internet)
              li Aplica solo sobre redes HFC, no aplica en REDCO ni en GPON.
              li Aplica solo para ventas a través de Canales Digitales
              li Vigencia: Del 01 al 30 de noviembre de 2018
              li Estos Términos y Condiciones reemplazan los anteriores con código A2018-10-0001
            p
              span(style='text-decoration: underline;')
                strong Condiciones Generales de las Ofertas Home
            p 1. Triple Play Esencial:
            p
              | a. En los estratos 1 y 2 se entrega el Triple Play Esencial con Internet de 5 Megas con velocidad de navegación final de 10 Megas por 12 meses, telefonía local ilimitada y Televisión en Plan Esencial con un descuento del 10% sobre la Tarifa Plena por 12 meses en Atlántico, Bolivar, Boyacá, Cauca, Cesar, Cundinamarca, Magdalena, Meta, Nariño, Norte de Santander, Santander, Sucre, Tolima, Valle del Cauca y Quindío y con un descuento del 5% sobre la Tarifa Plena por 12 meses en Antioquia, Risaralda y Caldas. El descuento aplica sobre los Cargos Básicos de los tres productos, Televisión, Telefonía, Internet. No aplica sobre los adicionales. En este se entrega un decodificador adicional con el 100% de descuento sobre el valor del arrendamiento por 12 meses (DECO FIDELIZA).
            p
              | b. En los estratos 3 y 4 se entregará Triple Play Esencial con Internet de 5 Megas y velocidad final de navegación de 10 Megas por 12 meses, telefonía local ilimitada y televisión en plan esencial en toda el área de cobertura de HFC de UNE EPM Telecomunicaciones S.A. No aplican descuentos. En este se entrega un decodificador adicional con el 100% de descuento sobre el valor del arrendamiento por 12 meses (DECO FIDELIZA) solo en Atlántico, Bolivar, Boyacá, Cauca, Cesar, Cundinamarca, Magdalena, Meta, Nariño, Norte de Santander, Santander, Sucre, Tolima, Valle del Cauca y Quindío. Para los departamentos de Antioquia, Risaralda y Caldas el decodificador adicional tiene un costo de $ 10.259
            p 2. Triple Play Esencial Plus
            p
              | a. En los estratos 1 y 2 se entrega el Triple Play Esencial Plus con Internet de 10 Megas con
            p
              | velocidad de navegación final de 20 Megas por 12 meses, telefonía local ilimitada y
            p
              | televisión en Plan Esencial Plus con un descuento del 20% sobre la Tarifa Plena por 12
            p
              | meses en Atlántico, Bolivar, Boyacá, Cauca, Cesar, Cundinamarca, Magdalena, Meta,
            p
              | Nariño, Norte de Santander, Santander, Sucre, Tolima, Valle del Cauca y Quindío y con un
            p
              | descuento del 5% sobre la Tarifa Plena por 12 meses en Antioquia, Risaralda y Caldas. El
            p
              | descuento aplica sobre los Cargos Básicos de los tres productos, Televisión, Telefonía,
            p Internet. No aplica sobre los adicionales.
            p
              | b. En los estratos 3 y 4 se entregará Triple Play Esencia Plus con Internet de 10 Megas y
            p
              | velocidad final de navegación de 20 Megas por 12 meses, telefonía local ilimitada y
            p
              | televisión con un descuento del 20% sobre la Tarifa Plena por 12 meses en Atlántico,
            p Bolivar, Boyacá, Cauca, Cesar, Cundinamarca, Magdalena, Meta, Nariño, Norte de
            p
              | Santander, Santander, Sucre, Tolima, Valle del Cauca y Quindío y con un descuento del 5%
            p
              | sobre la Tarifa Plena por 12 meses en Antioquia, Risaralda y Caldas. El descuento aplica
            p
              | sobre los Cargos Básicos de los tres productos, Televisión, Telefonía, Internet. No aplica
            p sobre los adicionales.
            p
              | c. En los estratos 5 y 6 se entregará Triple Play Esencia Plus con Internet de 10 Megas con
            p
              | velocidad de navegación final de 20 Megas por 12 meses, telefonía Local Ilimitada y
            p televisión en plan Esencial Plus en toda el área de cobertura de HFC de UNE EPM
            p Telecomunicaciones S.A. No aplican descuentos.
            p
              | 3. Los planes de Telefonía Fija incluyen en su cargo básico minutos ilimitados de telefonía local, y como beneficio adicional 500 minutos para llamadas a móviles Tigo + 50 minutos para que el cliente los consuma en llamadas de larga distancia nacional a cualquier operador y destinos móviles a otros operadores (Claro, Movistar, OMV).
            .column
              ul
                li
                  | Los minutos de larga distancia nacional –LDN- aplican para todos los destinos marcando el prefijo 05.
                li
                  | Los minutos adicionales a destinos móviles se facturarán de acuerdo con las siguientes tarifas:
              p OPERADOR                                               TARIFA CON IVA
              p TIGO                                                           $ 91.1
              p OTROS OPERADORES                          $ 92.1
              p
                | Terminados los minutos de larga distancia nacional y destinos móviles incluidos en el beneficio de los 50 minutos, el usuario podrá realizar consumos adicionales, y estos se facturarán de acuerdo con las tarifas vigentes por el plan bajo demanda.
              p
                | 5. Los minutos entregados como beneficio incluidos en cada ciclo de consumo que no sean utilizados no son acumulables en el ciclo de consumo siguiente.
            p 6. Los planes de televisión objeto de esta oferta son:
            p Señales                           Esencial                        Esencial Plus
            p
              | SD                                         89                                      125
            p
              | HD                                        17                                        25
            p
              | Audio                                   50                                        50
            p Total con Audio                 156                                     200
            p Total sin Audio                 106                                      150
            .layoutArea
              p
                | 7. Las extensiones adicionales de servicio de televisión se prestan con decodificadores bajo la modalidad de arrendamiento con cobro mensual adicional.
              p
                | 8. El valor del arrendamiento del decodificador HD adicional es de $10.259 mensuales IVA incluido
              p 9. La grilla de canales puede variar dependiendo de la tecnología y/o la ciudad.
              p
                | 10. Para que el usuario disfrute del servicio de HD, requiere tener un televisor con entrada HDMI.
              p
                | 11. UNE se reserva la facultad de modificar tanto las frecuencias como los canales de televisión, por razones de fuerza mayor, condiciones del mercado o aspectos contractuales.
              p
                | 12. Velocidades de Internet (BA) con variaciones según el reúso y número de usuarios conectados. La velocidad solo se garantiza mediante una conexión por cable UTP, no se garantiza velocidad por el acceso WiFi.
              p
                | 13. Los Clientes Nuevos, tendrán un descuento del 100% en los cargos básicos del servicio y/o producto desde el día en que le instalen el producto hasta el último día del mismo mes corriente, esta promoción se denomina Smart Promo. (Se define como Cliente Nuevo, aquellos que al momento de la compra del Triple Play no tienen servicios fijos TigoUne instalados en la dirección donde se solicita el servicios)
              p
                | 14. La oferta especial para Canales Digitales aplica sólo para Clientes Nuevos que adquieran un Triple Play Esencial o Esencial Plus de los anteriormente descritos (Clientes nuevos se entiende como direcciones que no tienen servicios instalados al momento de la venta).
              p
                | 15. En caso que el Cliente desempaquete la oferta, perderá los beneficios exclusivos del Triple Play.
              p
                | 16. Tarifas sujetas a incrementos periódicos según lo pactado en los contratos de prestación de los servicios.
              p
                | 17. Los Clientes Nuevos que opten por la modalidad de contrato con permanencia mínima por 12 meses. Para Las ofertas tríos recibirán un 100% de descuento sobre el pago parcial del cargo de conexión.
              p
                | 18. En caso que el cliente no firme cláusula de permanencia, debe cancelar el valor total del cargo de conexión, según la tabla de cargo de conexión y este será facturado en su primera factura.
              p Tabla Cargos por conexión 001.
              .column
                .page(title='Page 1')
                  .layoutArea
                    .column
                      table(border='1')
                        colgroup  
                        tbody
                          tr
                            td(colspan='6', rowspan='1')
                              .layoutArea
                                .column
                                  p CLIENTE NUEVO
                          tr
                            td
                              .layoutArea
                                .column
                                  p Servicio
                            td
                              .layoutArea
                                .column
                                  p Permanencia mi´nima (Meses)
                            td
                              .layoutArea
                                .column
                                  p Total Cargo Conexio´n CON IVA
                            td
                              .layoutArea
                                .column
                                  p Cobro Parcial Cargo de Conexio´n
                            td
                              .layoutArea
                                .column
                                  p Descuento Cobro Parcial Cargo de Conexio´n
                            td
                              .layoutArea
                                .column
                                  p Saldo Cargo Conexio´n CON IVA
                          tr
                            td
                              .layoutArea
                                .column
                                  p Trio
                            td
                              .layoutArea
                                .column
                                  p 12
                            td
                              .layoutArea
                                .column
                                  p $ 235.948
                            td
                              .layoutArea
                                .column
                                  p $ 150.000
                            td
                              .layoutArea
                                .column
                                  p 100%
                            td
                              .layoutArea
                                .column
                                  p $ 235.948
                      p 19. Ofertas sujetas a cobertura y a disponibilidad técnica.
                p  
          .mt20   
      .modal--background(onclick='closeModal()')
      .modal.modal--terminosc 
        .modal--close(onclick='closeModal()') x
        .modal--content
          h4.font_azul
            strong TÉRMINOS Y CONDICIONES
          .mt20
            p
              | Doy mi consentimiento previo, expreso e informado a Digital Inspire, para la recolección, almacenamiento y uso de mis datos de información personal, para ser contactados y ofrecer servicios de telecomunicaciones de Une EPM Telecomunicaciones S.A., programar visitas de instalación, cobre el valor de los servicios, cotejar identidad y tomar la firma como prueba de entrega de los servicios. Como titular de información tiene derecho a conocer, actualizar, rectificar sus datos personales, solicitar prueba de la autorización otorgada para su tratamiento, ser informado sobre el uso que se ha dado a los mismos, presentar quejas ante la SIC por infracción a la ley, revocar la autorización y/o solicitar la supresión de sus datos en los casos que sea procedente y acceder en forma gratuita a los mismos. Tendrá carácter facultativo las respuestas que versen sobre datos sensibles o sobre datos de las niñas y niños y adolescentes. Une EPM Telecomunicaciones S.A., tiene domicilio en Medellín Cra. 16 No 11 A S-100
      .modal--background(onclick='closeModal()')
      .modal.modal--terminosl
        .modal--close(onclick='closeModal()') x
        .modal--content
          h4.font_azul
            strong TÉRMINOS Y CONDICIONES
          .mt20
            p
              | Doy mi consentimiento previo, expreso e informado a Digital Inspire, para la recolección, almacenamiento y uso de mis datos de información personal, para ser contactados y ofrecer servicios de telecomunicaciones de Une EPM Telecomunicaciones S.A., programar visitas de instalación, cobre el valor de los servicios, cotejar identidad y tomar la firma como prueba de entrega de los servicios. Como titular de información tiene derecho a conocer, actualizar, rectificar sus datos personales, solicitar prueba de la autorización otorgada para su tratamiento, ser informado sobre el uso que se ha dado a los mismos, presentar quejas ante la SIC por infracción a la ley, revocar la autorización y/o solicitar la supresión de sus datos en los casos que sea procedente y acceder en forma gratuita a los mismos. Tendrá carácter facultativo las respuestas que versen sobre datos sensibles o sobre datos de las niñas y niños y adolescentes. Une EPM Telecomunicaciones S.A., tiene domicilio en Medellín Cra. 16 No 11 A S-100
      .modal--background(onclick='closeModal()')
      #conocermas
      footer.mainFooter.mainFooter__
        .mainFooter__container
          .formularioc
            #wpcf7-f55-o1.wpcf7(role='form', lang='es-ES', dir='ltr')
              .screen-reader-response
              form#form_footer.wpcf7-form.wpcf7-acceptance-as-validation(name='form_footer', action='/#wpcf7-f198-o1', method='post', class='wpcf7-form', enctype="application/x-www-form-urlencoded")
                div(style='display: none;')
                  input(type='hidden', name='_wpcf7', value='55')
                  input(type='hidden', name='_wpcf7_version', value='4.9.2')
                  input(type='hidden', name='_wpcf7_locale', value='es_ES')
                  input(type='hidden', name='_wpcf7_unit_tag', value='wpcf7-f55-o1')
                  input(type='hidden', name='_wpcf7_container_post', value='0')
                .mainFooter_form_column_full
                  h4.font_blanco
                    | ¿QUIERES MÁS INFORMACIÓN?
                    br
                  p.footernotyelloww
                    | Déjanos tus datos para llamarte
                .contactobig
                  .mainFooter_form_column_full
                    span.wpcf7-form-control-wrap.selectelocel
                      span.wpcf7-form-control.wpcf7-radio
                        span.wpcf7-list-item.first
                          input(type='radio', name='selectelocel', value='fijo', checked='checked')
                          span.wpcf7-list-item-label Teléfono fijo
                        span.wpcf7-list-item.last
                          input(type='radio', name='selectelocel', value='movil')
                          span.wpcf7-list-item-label Celular
                  .mainFooter_form_column
                    span.wpcf7-form-control-wrap.your-name
                      input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required(type='text', name='your_name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='*Tu nombre completo')
                    span.wpcf7-not-valid-tip#error1(style="display:none;") El campo es obligatorio.
                  .mainFooter_form_column
                    span.wpcf7-form-control-wrap.Telefono
                      input#phonecallback.wpcf7-form-control.wpcf7-number.wpcf7-validates-as-required.wpcf7-validates-as-number(type='number', name='Telefono', value='', aria-required='true', aria-invalid='false', placeholder='*Tu Teléfono', enctype="application/x-www-form-urlencoded")
                    span.wpcf7-not-valid-tip#error2(style="display:none;") El campo es obligatorio.
                  .mainFooter_form_column
                    span.wpcf7-form-control-wrap.your-email
                      input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email(type='email', name='your_email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='*Tu correo')
                    span.wpcf7-not-valid-tip#error3(style="display:none;") El campo es obligatorio.
                  .mainFooter_form_column
                    span.wpcf7-form-control-wrap.departamentos
                      select#departaments.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required(name='departamentos', aria-required='true', aria-invalid='false')
                        option(value='Departamento') Departamento
                        option(value='Bogotá') Bogotá
                        option(value='Amazonas') Amazonas
                        option(value='Amazonas') Amazonas
                        option(value='Antioquia') Antioquia
                        option(value='Arauca') Arauca
                        option(value='Atlántico') Atlántico
                        option(value='Bolívar') Bolívar
                        option(value='Boyacá') Boyacá
                        option(value='Caldas') Caldas
                        option(value='Caquetá') Caquetá
                        option(value='Casanare') Casanare
                        option(value='Cauca') Cauca
                        option(value='Cesar') Cesar
                        option(value='Choco') Choco
                        option(value='Córdoba') Córdoba
                        option(value='Cundinamarca') Cundinamarca
                        option(value='Guainía') Guainía
                        option(value='Guajira') Guajira
                        option(value='Guaviare') Guaviare
                        option(value='Huila') Huila
                        option(value='Magdalena') Magdalena
                        option(value='Meta') Meta
                        option(value='Nariño') Nariño
                        option(value='Nor Santander') Nor Santander
                        option(value='Putumayo') Putumayo
                        option(value='Quindío') Quindío
                    p
                .contactosmall
                  .mainFooter_form_column_full
                    span.wpcf7-form-control-wrap.aceptoterminos
                      input.wpcf7-form-control.wpcf7-acceptance#acepterms(type='checkbox', name='aceptoterminos', value='1', aria-invalid='false')
                    .min
                      | Acepto la 
                      a(onclick="openModal('.modal--terminosc')")
                        b política de privacidad
                    p
                  .mainFooter_form_column.minh
                  .mainFooter_form_column_full
                    span.wpcf7-form-control-wrap.controlsubm
                    input.wpcf7-form-control.wpcf7-submit#form_control(name='controlsubm', type='submit', value='Enviar')
                    span.wpcf7-response-output.wpcf7-validation-errors#error4(style="display:none;")   Debes aceptar los términos y condiciones antes de enviar tu mensaje.
                    span.wpcf7-response-output.wpcf7-mail-sent-ok#sendok(style="display:none;")   Gracias por tu mensaje. Ha sido enviado.
                .wpcf7-response-output.wpcf7-display-none
            .mainFooter__legal
              p.ta-c
                | Para más información sobre términos y condiciones del producto haz 
                a(onclick="openModal('.modal--terminos')")
                  strong clic aquí
                |  | Digital Inspire | Agente mercantil de TigoUne
        script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
        
        .tigomodali.tigomodal_minlinks
          .blanko
            .cerrarmodal X
            .espacio
            p ¿Quieres que te llamemos?
            p Ingresa tu teléfono y te llamaremos de inmediato.
            .notsoblanko
              // test box
              .inmodaldos
                // adquirir id
                // 121 = gracias
                // columna
                #columna
                  header.boxContacto__header
                    h3 ¿PREFIERES QUE TE LLAMEMOS?
                  // tellamamos
                  #tellamamos.caja.tellamamos-msg
                    form#form-llamaruno
                      .boxContacto__content
                        p.ta-c Ingresa tu número de teléfono
                        .radioContainer.radioContainer__x2
                          .linea
                            .radioBox
                              input#radio-tipo-telefono-fijo(type='radio', name='tipo-telefono', onchange='javascript:showTelefono()', checked='')
                              label(for='radio-tipo-telefono-fijo') Teléfono Fijo
                            .radioBox
                              input#radio-tipo-telefono-celular(type='radio', name='tipo-telefono', onchange='javascript:showTelefono()')
                              label(for='radio-tipo-telefono-celular') Celular
                        .inputspace
                          // Selector con departamentos
                          #telefono-fijo
                            select#select-dep.select-dep(required='', data-required-message='Seleccione una opción')
                              option(value='') Departamento
                              option(value='1') Bogotá
                              option(value='8') Amazonas
                              option(value='4') Antioquia
                              option(value='7') Arauca
                              option(value='5') Atlántico
                              option(value='5') Bolívar
                              option(value='8') Boyacá
                              option(value='6') Caldas
                              option(value='8') Caquetá
                              option(value='8') Casanare
                              option(value='2') Cauca
                              option(value='5') Cesar
                              option(value='4') Choco
                              option(value='4') Córdoba
                              option(value='1') Cundinamarca
                              option(value='8') Guainía
                              option(value='5') Guajira
                              option(value='8') Guaviare
                              option(value='8') Huila
                              option(value='5') Magdalena
                              option(value='8') Meta
                              option(value='2') Nariño
                              option(value='7') Nor Santander
                              option(value='8') Putumayo
                              option(value='6') Quindío
                          input#telefonoLlamar.telefono(type='number', placeholder='Teléfono', pattern='^([0-9]{7})$', required='', data-required-message='El teléfono es requerido.')
                          .ta-c.mt10
                            #acepto
                              p.checkTerminos
                                input#aceptaTerm(type='checkbox', required='', data-required-message='Campo requerido.')
                                span.autorizo
                                  | Acepto 
                                  a(onclick="openModal('.modal--terminosl')") términos y condiciones
                        .ta-c.mt20
                          input#btnsubmit.boton.btn(type='submit', value='TE LLAMAMOS')
                  // cerro tellamamos
                  // columna
                  // end box
        .tigomodali.tigomodal_portable
          .blanko
            .cerrarmodal X
            .espacio
            p ¿Quieres que te llamemos?
            p Ingresa tu teléfono y te llamaremos de inmediato.
            .notsoblanko
              // test box
              .inmodaldos
                // adquirir id
                // 121 = gracias
                // columna
                #columna
                  header.boxContacto__header
                    h3 ¿PREFIERES QUE TE LLAMEMOS?
                  // tellamamos
                  #tellamamos.caja.tellamamos-msg
                    form#form-llamarunoportable
                      .boxContacto__content
                        p.ta-c Ingresa tu número de teléfono
                        .radioContainer.radioContainer__x2
                          .linea
                            .radioBox
                              input#radio-tipo-telefono-fijo(type='radio', name='tipo-telefono', onchange='javascript:showTelefono()', checked='')
                              label(for='radio-tipo-telefono-fijo') Teléfono Fijo
                            .radioBox
                              input#radio-tipo-telefono-celular(type='radio', name='tipo-telefono', onchange='javascript:showTelefono()')
                              label(for='radio-tipo-telefono-celular') Celular
                        .inputspace
                          // Selector con departamentos
                          #telefono-fijo
                            select#select-dep.select-dep(required='', data-required-message='Seleccione una opción')
                              option(value='') Departamento
                              option(value='1') Bogotá
                              option(value='8') Amazonas
                              option(value='4') Antioquia
                              option(value='7') Arauca
                              option(value='5') Atlántico
                              option(value='5') Bolívar
                              option(value='8') Boyacá
                              option(value='6') Caldas
                              option(value='8') Caquetá
                              option(value='8') Casanare
                              option(value='2') Cauca
                              option(value='5') Cesar
                              option(value='4') Choco
                              option(value='4') Córdoba
                              option(value='1') Cundinamarca
                              option(value='8') Guainía
                              option(value='5') Guajira
                              option(value='8') Guaviare
                              option(value='8') Huila
                              option(value='5') Magdalena
                              option(value='8') Meta
                              option(value='2') Nariño
                              option(value='7') Nor Santander
                              option(value='8') Putumayo
                              option(value='6') Quindío
                          input#telefonoLlamar.telefono(type='number', placeholder='Teléfono', pattern='^([0-9]{7})$', required='', data-required-message='El teléfono es requerido.')
                          .ta-c.mt10
                            #acepto
                              p.checkTerminos
                                input#aceptaTerm(type='checkbox', required='', data-required-message='Campo requerido.')
                                span.autorizo
                                  | Acepto 
                                  a(onclick="openModal('.modal--terminosl')") términos y condiciones
                        .ta-c.mt20
                          input#btnsubmit.boton.btn(type='submit', value='TE LLAMAMOS')
                  // cerro tellamamos
                  // columna
                  // end box
        .tigomodali.tigomodal_boxuno
          .blanko
            .cerrarmodal X
            section.boxPlan.boxPlan__bronze
              header.boxPlan__header
                h3 TRIPLE ESENCIAL
              .boxPlan__info
                h4.mb20(style='text-align: center;') CON MÁS VELOCIDAD DE NAVEGACIÓN:
                ul.mt10
                  li  Con 156 canales: 17 canales en HD + 89 canales en SD + 50 canales de audio
                  li  Velocidad final de conexión de 10 Megas
                  li  2 decodificadores HD
            p ¿Quieres que te llamemos?
            p Ingresa tu teléfono y te llamaremos de inmediato.
            .notsoblanko
              // test box
              .inmodaltres
                // adquirir id
                // 121 = gracias
                // columna
                #columna
                  header.boxContacto__header
                    h3 ¿PREFIERES QUE TE LLAMEMOS?
                  // tellamamos
                  #tellamamos.caja.tellamamos-msg
                    form#form-llamartres
                      .boxContacto__content
                        p.ta-c Ingresa tu número de teléfono
                        .radioContainer.radioContainer__x2
                          .linea
                            .radioBox
                              input#radio-tipo-telefono-fijo(type='radio', name='tipo-telefono', onchange='javascript:showTelefono()', checked='')
                              label(for='radio-tipo-telefono-fijo') Teléfono Fijo
                            .radioBox
                              input#radio-tipo-telefono-celular(type='radio', name='tipo-telefono', onchange='javascript:showTelefono()')
                              label(for='radio-tipo-telefono-celular') Celular
                        .inputspace
                          // Selector con departamentos
                          #telefono-fijo
                            select#select-dep.select-dep(required='', data-required-message='Seleccione una opción')
                              option(value='') Departamento
                              option(value='1') Bogotá
                              option(value='8') Amazonas
                              option(value='4') Antioquia
                              option(value='7') Arauca
                              option(value='5') Atlántico
                              option(value='5') Bolívar
                              option(value='8') Boyacá
                              option(value='6') Caldas
                              option(value='8') Caquetá
                              option(value='8') Casanare
                              option(value='2') Cauca
                              option(value='5') Cesar
                              option(value='4') Choco
                              option(value='4') Córdoba
                              option(value='1') Cundinamarca
                              option(value='8') Guainía
                              option(value='5') Guajira
                              option(value='8') Guaviare
                              option(value='8') Huila
                              option(value='5') Magdalena
                              option(value='8') Meta
                              option(value='2') Nariño
                              option(value='7') Nor Santander
                              option(value='8') Putumayo
                              option(value='6') Quindío
                          input#telefonoLlamar.telefono(type='number', placeholder='Teléfono', pattern='^([0-9]{7})$', required='', data-required-message='El teléfono es requerido.')
                          .ta-c.mt10
                            #acepto
                              p.checkTerminos
                                input#aceptaTerm(type='checkbox', required='', data-required-message='Campo requerido.')
                                span.autorizo
                                  | Acepto 
                                  a(onclick="openModal('.modal--terminosl')") términos y condiciones
                        .ta-c.mt20
                          input#btnsubmit.boton.btn(type='submit', value='TE LLAMAMOS')
                  // cerro tellamamos
                  // columna
                  // end box
        .tigomodali.tigomodal_boxdos
          .blanko
            .cerrarmodal X
            section.boxPlan.boxPlan__silver
              header.boxPlan__header
                h3 TRIPLE PLAY ESENCIAL PLUS
              .boxPlan__info
                h4.mb20(style='text-align: center;') CON MÁS VELOCIDAD DE NAVEGACIÓN:
                ul
                  li  Con 200 canales: 25 canales en HD + 125 canales en SD + 50 canales de audio
                  li  Velocidad final de conexión de 20 Megas
                  li  2 decodificadores HD
            p ¿Quieres que te llamemos?
            p Ingresa tu teléfono y te llamaremos de inmediato.
            .notsoblanko
              // test box
              .inmodalcuatro
                // adquirir id
                // 121 = gracias
                // columna
                #columna
                  header.boxContacto__header
                    h3 ¿PREFIERES QUE TE LLAMEMOS?
                  // tellamamos
                  #tellamamos.caja.tellamamos-msg
                    form#form-llamarcuatro
                      .boxContacto__content
                        p.ta-c Ingresa tu número de teléfono
                        .radioContainer.radioContainer__x2
                          .linea
                            .radioBox
                              input#radio-tipo-telefono-fijo(type='radio', name='tipo-telefono', onchange='javascript:showTelefono()', checked='')
                              label(for='radio-tipo-telefono-fijo') Teléfono Fijo
                            .radioBox
                              input#radio-tipo-telefono-celular(type='radio', name='tipo-telefono', onchange='javascript:showTelefono()')
                              label(for='radio-tipo-telefono-celular') Celular
                        .inputspace
                          // Selector con departamentos
                          #telefono-fijo
                            select#select-dep.select-dep(required='', data-required-message='Seleccione una opción')
                              option(value='') Departamento
                              option(value='1') Bogotá
                              option(value='8') Amazonas
                              option(value='4') Antioquia
                              option(value='7') Arauca
                              option(value='5') Atlántico
                              option(value='5') Bolívar
                              option(value='8') Boyacá
                              option(value='6') Caldas
                              option(value='8') Caquetá
                              option(value='8') Casanare
                              option(value='2') Cauca
                              option(value='5') Cesar
                              option(value='4') Choco
                              option(value='4') Córdoba
                              option(value='1') Cundinamarca
                              option(value='8') Guainía
                              option(value='5') Guajira
                              option(value='8') Guaviare
                              option(value='8') Huila
                              option(value='5') Magdalena
                              option(value='8') Meta
                              option(value='2') Nariño
                              option(value='7') Nor Santander
                              option(value='8') Putumayo
                              option(value='6') Quindío
                          input#telefonoLlamar.telefono(type='number', placeholder='Teléfono', pattern='^([0-9]{7})$', required='', data-required-message='El teléfono es requerido.')
                          .ta-c.mt10
                            #acepto
                              p.checkTerminos
                                input#aceptaTerm(type='checkbox', required='', data-required-message='Campo requerido.')
                                span.autorizo
                                  | Acepto 
                                  a(onclick="openModal('.modal--terminosl')") términos y condiciones
                        .ta-c.mt20
                          input#btnsubmit.boton.btn(type='submit', value='TE LLAMAMOS')
                  // cerro tellamamos
                  // columna
                  // end box
    script(type='text/javascript', src='/javascripts/jquery-214.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.5/umd/popper.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/tigo.js')
    script(type='text/javascript').
      /* <![CDATA[ */
      var userSettings = {"url":"\\/150\/tigoune\/","uid":"0","time":"1527545142","secure":""};
      /* ]]> */
    script(type='text/javascript', src='/javascripts/utils_min.js')
    script(type='text/javascript', src='/javascripts/tigo.js')
    script(type='text/javascript', src='/javascripts/util-index.js')
    script.
          $(window).scroll(function (event) {
          var scrollea = $(window).scrollTop();
          if(scrollea>155){
          $(".boxtopcallme").css('position','fixed');
          }else{
          $(".boxtopcallme").css('position','inherit');
          }
          });                
